<h3>Products</h3>
<div class="filter-container">
  <input
    type="text"
    class="search"
    placeholder="Search product..."
    (input)="onSearch($event)"
  />
  <select class="select" (change)="onCategoryChange($event)">
    <option value="">All Categories</option>
    <option *ngFor="let cat of categories" [value]="cat.id">
      {{ cat.name }}
    </option>
  </select>
</div>

<app-product-list-ui
  [products]="products"
  (toggle)="toggleStatus($event)"
  (delete)="deleteProduct($event)"
></app-product-list-ui>
