.layout-container {
  display: flex;
}

.side-bar-container {
  padding: 15px;
  background-color: black;
  width: 25%;
  max-width: 300px;
  height: calc(100vh - 46px);
}

.main-content {
  padding: 15px;
  width: 75%;
}
