<div class="side-bar">
  <h2 class="logo">Inventory</h2>

  <ul>
    <li routerLink="/dashboard" routerLinkActive="active">Dashboard</li>
    <li routerLink="/products" routerLinkActive="active">products</li>
    <li routerLink="/categories" routerLinkActive="active">categories</li>
    <!-- <li routerLink="/customer" routerLinkActive="active">customers</li> -->
    <!-- <li routerLink="/suppliers" routerLinkActive="active">suppliers</li> -->
    <!-- <li routerLink="/purchases" routerLinkActive="active">purchases</li> -->
  </ul>
</div>
