<div class="side-bar">
  <h2 class="logo">Inventory</h2>

  <ul>
    <li appNavHover routerLink="/dashboard" routerLinkActive="active">
      Dashboard
    </li>
    <li appNavHover routerLink="/products" routerLinkActive="active">
      products
    </li>
    <li appNavHover routerLink="/categories" routerLinkActive="active">
      categories
    </li>
    <!-- <li appNavHover routerLink="/customer" routerLinkActive="active">customers</li> -->
    <!-- <li appNavHover routerLink="/suppliers" routerLinkActive="active">suppliers</li> -->
    <!-- <li appNavHover routerLink="/purchases" routerLinkActive="active">purchases</li> -->
  </ul>
</div>
