.active {
  color: orange;
}

h2 {
  font-size: 20px;
  margin: 0 0 20px;
}

li {
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 10px 4px;
  border-radius: 6px;
  border-bottom: 1px solid rgba(248, 134, 134, 0.402);
}
