.check-box {
  display: flex;
  width: 80px;
  align-items: center;
  gap: 5px;
}

.tags-form {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0 0 15px;
}

.btn-controls {
  display: flex;
  align-items: center;
  gap: 15px;
}
