<h2>{{ isEdit ? "Edit" : "Add" }} products</h2>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-field">
    <input type="text" formControlName="name" placeholder="Name" />
    <p *ngIf="form.controls.name.touched && form.controls.name.invalid">
      Name required
    </p>
  </div>
  <div class="form-field">
    <input type="number" formControlName="price" placeholder="Price" />
    <p *ngIf="form.controls.price.touched && form.controls.price.invalid">
      Price required
    </p>
  </div>
  <div class="form-field">
    <select formControlName="categoryId">
      <option value="">Select Category</option>

      <option *ngFor="let cat of categories" [value]="cat.id">
        {{ cat.name }}
      </option>
    </select>
  </div>
  <div class="form-field">
    <label class="check-box">
      <input type="checkbox" formControlName="isActive" />
      Deactivate
    </label>
  </div>

  <button type="submit">
    {{ isEdit ? "Update" : "Create" }}
  </button>
</form>
